<div class="card mt-2">
  <h5 class="card-header">Create </h5>
  <div class="card-body">
    <form [formGroup]="addAwesomeForm" (ngSubmit)="create()">
      <table style="width: 80%">
        <tr class="form-group">
          <td><label>Tag</label></td>
          <td><input style="border-radius: 30px" type="text" formControlName="tag" class="form-control"></td>
        </tr>
        <tr class="form-group ">
          <td><label>Url</label></td>
          <td><input style="border-radius: 30px" type="text" formControlName="url" class="form-control"></td>
        </tr>
        <tr class="form-group mt-3">
          <td><label>Descriptions</label></td>
          <td><textarea style="border-radius: 30px" formControlName="descriptions" class="form-control"></textarea>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button style="border-radius: 30px" class="btn btn-primary">Create</button></td>
        </tr>
      </table>
    </form>
  </div>
</div>
